/* FULL RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  background-color: #f8f5f0; /* same as hero bg */
  font-family: "Inter", sans-serif;
}
